<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="VehicleRentalTcpBinding"
                 openTimeout="00:00:10"
                 closeTimeout="00:00:10"
                 sendTimeout="00:00:30"
                 receiveTimeout="00:10:00"
                 maxReceivedMessageSize="1048576">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="VehicleRentalServiceEndpoint"
                address="net.tcp://localhost:8734/VehicleRentalService/"
                binding="netTcpBinding"
                bindingConfiguration="VehicleRentalTcpBinding"
                contract="VehicleRentalSystem.WcfService.Contracts.IVehicleRentalService" />
    </client>
  </system.serviceModel>
</configuration>
